<launch>
  <node pkg="bag_to_video" name="bag_to_video_node" type="bag_to_video_node" output="screen">
    <param name="pub_rate" type="int" value="15" />
    <param name="sub_img_topic" type="string" value="/hk_stereo_video/raw"/>
    <param name="pub_img_topic" type="string" value="/bag_to_video/image_raw"/>
    <param name="video_save_path" type="string" value="/home/administrator/files/video/"/>
    <param name="video_read_path" type="string" value="/home/administrator/files/video/2018_11_15.avi"/>
  </node>
</launch>
